@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ebdf0, #2881b4);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  word-spacing: .6rem;
  letter-spacing: .3rem;
  transition: all .6s; }
  .heading-secondary:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary-light {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  word-spacing: .6rem;
  letter-spacing: .3rem;
  transition: all .6s; }
  .heading-secondary-light:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .3rem; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-font-weight-thin {
  font-weight: 100; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.btn:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .6s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #4a92ce;
  color: #fff; }
  .btn--blue::after {
    background-color: #4a92ce; }

.btn-text:link {
  font-size: 1.6rem;
  color: #4a92ce;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4a92ce;
  padding: 3px;
  transition: all .3s; }

.btn-text:visited {
  font-size: 1.6rem;
  color: #4a92ce;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4a92ce;
  padding: 3px;
  transition: all .3s; }

.btn-text:hover {
  background-color: #4a92ce;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.card__side {
  height: 50rem;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.card__side--front {
  background-color: #fff; }

.card__side--back {
  transform: rotateY(180deg); }

.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #7ebdf0, #2881b4); }

.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #aaa7a7, #5e5c5c); }

.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #5ac468, #3c8345); }

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: color;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #7ebdf0, #2881b4), url(../images/rink-stock-image.jpeg); }

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #aaa7a7, #5e5c5c), url(../images/kid-workout-stock.jpeg); }

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #3c8345, #3c8345), url(../images/hockey-game-stock-image.jpeg); }

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 70%; }

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(126, 189, 240, 0.85), rgba(40, 129, 180, 0.85)), url(../images/rink-stock-image.jpeg); }

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(170, 167, 167, 0.85), rgba(94, 92, 92, 0.85)), url(../images/rink-stock-image.jpeg); }

.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(90, 196, 104, 0.85), rgba(60, 131, 69, 0.85)), url(../images/rink-stock-image.jpeg); }

.card__details {
  padding: 3rem; }
  .card__details ul {
    list-style: none;
    width: 85%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #d8d5d5; }

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center; }

.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff; }

.card__price-starts {
  font-size: 1.4rem;
  text-transform: uppercase; }

.card__price-amount {
  font-size: 6rem;
  font-weight: 100; }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
    opacity: .5; }

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all .2s;
  z-index: 10;
  outline-offset: 2rem; }
  .composition__photo:hover {
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20; }

.composition__photo--p1 {
  left: 0;
  top: 2rem; }

.composition__photo--p2 {
  right: 0;
  top: 6rem; }

.composition__photo--p3 {
  left: 20%;
  top: 15rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.feature-box__number {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ebdf0, #2881b4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  color: #777;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative; }

.story__image {
  height: 100%;
  transform: scale(1.07);
  transition: all .5s; }

.story__text {
  transform: skewX(12deg); }

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 189, 240, 0.8), rgba(40, 129, 180, 0.8)), url(../images/groupOnIce.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.fa-angle-double-down {
  color: #fff;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 75vh;
  left: 50%; }

.arrow {
  text-align: center;
  padding: 0; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 189, 240, 0.8), rgba(40, 129, 180, 0.8)), url(../images/hockey-player-young-stock.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -11.5rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-training {
  background-color: #f7f7f7;
  padding: 27rem 0 15rem 0;
  margin-top: -11.5rem; }

.section-testimonials {
  padding: 15rem 0;
  position: relative; }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ebdf0, #2881b4); }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, transparent 50%), url(../images/outdoors_net.jpeg);
  background-size: 100%;
  background-position: bottom;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 60rem; }

.contact__text {
  width: 50%;
  padding: 3rem; }

.contact__text--content {
  padding: 0;
  margin-top: 3.5rem; }
  .contact__text--content ul {
    list-style: none;
    width: 85%; }
    .contact__text--content ul li {
      text-align: left;
      font-size: 1.8rem;
      padding: 1rem; }
      .contact__text--content ul li:not(:last-child) {
        border-bottom: 1px solid #d8d5d5; }

.contact__text--cta {
  padding-top: 3.5rem;
  font-size: 2.3rem; }
